---
import CardCertificate from "@components/CardCertificate.astro";
import Certificate from "@components/icons/Certificate.astro";
import Regresar from "@components/icons/Regresar.astro";
import SectionContainer from "@components/SectionContainer.astro";
import TitleSection from "@components/TitleSection.astro";
import Layout from "@layouts/Layout.astro";
import { getCertificatesCardWithTech } from "src/utils/certificates";

const certificates = getCertificatesCardWithTech();
---

<Layout title="Portfolio - Hugo Rosales Meléndez | Software Enginner">
  <div class="pt-24 pb-16 md:py-32">
    <SectionContainer>
      <TitleSection>
        <Certificate class="size-8" />
        Todos los Certificados
      </TitleSection>
      <div class="flex justify-end my-4">
        <a
          href="/#certificates"
          class="w-fit bg-transparent hover:bg-primary text-textPrimary font-semibold py-2 px-4 border border-textPrimary/50 transition rounded duration-300 ease-in-out flex flex-row items-center"
        >
          <Regresar />
          Regresar
        </a>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {
          certificates.map((certificate) => (
            <CardCertificate certificate={certificate} />
          ))
        }
      </div>
    </SectionContainer>
  </div>
</Layout>
