---
import Layout from "@layouts/Layout.astro";
import HeroSection from "@components/HeroSection.astro";
import AboutSection from "@components/AboutSection.astro";
import ExperienceSection from "@components/ExperienceSection.astro";
import ProjectsSection from "@components/ProjectSection.astro";
import SectionContainer from "@components/SectionContainer.astro";
import TitleSection from "@components/TitleSection.astro";
import Briefcase from "@components/icons/Briefcase.astro";
import Skills from "@components/Skills.astro";
import Project from "@components/icons/Project.astro";
import SkillsIcon from "@components/icons/Skills.astro";
import About from "@components/icons/About.astro";
import CertificatesSection from "@components/CertificatesSection.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Portfolio - Hugo Rosales Meléndez | Software Enginner">
  <SectionContainer class="pt-24 pb-16 md:py-36 relative" id="home">
    <HeroSection />
    <slot />
  </SectionContainer>
  <div class="space-y-10 lg:space-y-24">
    <SectionContainer id="experience">
      <TitleSection>
        <Briefcase class="size-8" />
        Experiencie
      </TitleSection>
      <ExperienceSection />
    </SectionContainer>

    <SectionContainer id="projects">
      <TitleSection>
        <Project class="size-8" />
        Projects
      </TitleSection>
      <ProjectsSection />
    </SectionContainer>
    <SectionContainer id="skills">
      <TitleSection>
        <SkillsIcon class="size-8" />
        Skills
      </TitleSection>
      <Skills />
    </SectionContainer>

    <SectionContainer id="about">
      <TitleSection>
        <About class="size-8" />
        About Me
      </TitleSection>
      <AboutSection />
    </SectionContainer>

    <SectionContainer id="certificates">
      <TitleSection>
        <Project class="size-8" />
        Certificates
      </TitleSection>
      <CertificatesSection />
    </SectionContainer>
  </div>
</Layout>
