---
import Layout from "@layouts/Layout.astro";
import HeroSection from "@components/HeroSection.astro";
import AboutSection from "@components/AboutSection.astro";
import ExperienceSection from "@components/ExperienceSection.astro";
import ProjectsSection from "@components/ProjectSection.astro";
import SectionContainer from "@components/SectionContainer.astro";
import TitleSection from "@components/TitleSection.astro";
import Skills from "@components/Skills.astro";

import CertificatesSection from "@components/CertificatesSection.astro";
import Briefcase from "@components/icons/Briefcase.astro";
import Project from "@components/icons/Project.astro";
import SkillIcon from "@components/icons/SkillIcon.astro";
import About from "@components/icons/About.astro";
import Certificate from "@components/icons/Certificate.astro";
---

<Layout title="Portfolio - Hugo Rosales Meléndez | Software Enginner">
  <SectionContainer class="pt-24 pb-16 md:py-36 relative" id="home">
    <HeroSection />
    <slot />
  </SectionContainer>
  <div class="space-y-10 lg:space-y-16">
    <SectionContainer id="experience">
      <TitleSection>
        <Briefcase class="size-8" />
        Experiencia
      </TitleSection>
      <ExperienceSection />
    </SectionContainer>

    <SectionContainer id="projects">
      <TitleSection>
        <Project class="size-8" />
        Proyectos
      </TitleSection>
      <ProjectsSection />
    </SectionContainer>
    <SectionContainer id="skills">
      <TitleSection>
        <SkillIcon class="size-8" />
        Habilidades
      </TitleSection>
      <Skills />
    </SectionContainer>

    <SectionContainer id="certificates">
      <TitleSection>
        <Certificate class="size-8" />
        Certificados
      </TitleSection>
      <CertificatesSection />
    </SectionContainer>

    <SectionContainer id="about">
      <TitleSection>
        <About class="size-8" />
        Sobre Mí
      </TitleSection>
      <AboutSection />
    </SectionContainer>
  </div>
</Layout>
