---
import CardCertificate from "./CardCertificate.astro";

import {
  getCertificatesCardWithTech,
  getTotalCertificatesCount,
} from "src/utils/certificates";

const certificates = getCertificatesCardWithTech();
const LIMIT = 3;
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
  {
    certificates
      .slice(0, LIMIT)
      .map((certificate) => <CardCertificate {certificate} />)
  }
</div>
<div class="flex items-center justify-center mt-8">
  <a
    href="/certificates"
    class="action-btn bg-linear-to-r from-[#f59e0b] to-[#d97706] text-white px-4 py-2 text-center rounded-2xl font-semibold transition-all duration-300 ease-in-out backdrop-blur-md hover:transform hover:translate-y-0.5 hover:shadow-[0_10px_30px] shadow-accent/50"
  >
    Ver todos los certificados ({getTotalCertificatesCount()})
  </a>
</div>
