---
import CardCertificate from "./CardCertificate.astro";

import {
  getCertificatesCardWithTech,
  getTotalCertificatesCount,
} from "src/utils/certificates";

const certificates = getCertificatesCardWithTech();
const LIMIT = getTotalCertificatesCount();

const duration = 80;
---

<div class="wrapper">
  <div class="items-container">
    {
      certificates.slice(0, LIMIT).map((certificate, index) => (
        <div
          class="item"
          style={`left: max(calc(345px * ${LIMIT}),100%);animation-delay: ${(duration / LIMIT) * (LIMIT - index) * -1}s`}
        >
          <CardCertificate {certificate} />
        </div>
      ))
    }
  </div>
</div>

<style>
  @reference './../styles/global.css';
  .wrapper {
    margin-inline: auto;
    /* mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 5%,
      rgba(0, 0, 0, 1) 95%,
      rgba(0, 0, 0, 0)
    ); */
    @apply relative   h-[570px] overflow-hidden;
  }

  .wrapper:hover .item {
    animation-play-state: paused;
  }

  @keyframes scrollleft {
    to {
      left: -345px;
    }
  }

  .items-container {
    @apply relative;
  }

  .item {
    animation-name: scrollleft;
    animation-duration: 80s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    @apply w-[345px] absolute;
  }
</style>
