---
import { api } from "@config/api";
import CardProject from "./CardProject.astro";

const projects = await api.getProjects();

const limit = 3;
---

<div class="projects grid gap-4 p-12 md:p-4 justify-center">
  {projects.slice(0, limit).map((project) => <CardProject {project} />)}
</div>

<style>
  .projects {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
</style>
