---
import Skillcard from "./Skillcard.astro";
import BackendIcon from "./icons/BackendIcon.astro";
import FrontendIcon from "./icons/FrontendIcon.astro";
import { Asterisk, Wrench } from "@lucide/astro";
---

<div class="grid grid-cols-1 md:grid-cols-5 gap-4 md:p-6">
  <Skillcard
    title="Frontend"
    skills={[
      "js",
      "html",
      "css",
      "primevue",
      "tailwind",
      "astro",
      "bootstrap",
      "vue",
    ]}
    gridClasses="col-span-1 md:col-span-3 "
  >
    <FrontendIcon class="text-primary" slot="icon" />
  </Skillcard>

  <Skillcard
    title="Backend"
    skills={["php", "java", "node", "express", "fastapi", "spring"]}
    gridClasses="col-span-1 md:col-span-2  md:col-start-4"
  >
    <BackendIcon class="text-primary" slot="icon" />
  </Skillcard>

  <Skillcard
    title="Tools"
    skills={[
      "github",
      "git",
      "postman",
      "vercel",
      "figma",
      "vscode",
      "trello",
      "swagger",
      "vite",
    ]}
    gridClasses="col-span-1 md:col-span-2  "
  >
    <Wrench class="text-primary" slot="icon" />
  </Skillcard>

  <Skillcard
    title="Others"
    skills={[
      "postgresql",
      "mysql",
      "mongodb",
      "sequelize",
      "jwt",
      "wordpress",
      "c",
      "swift",
    ]}
    gridClasses="col-span-1 md:col-span-3 md:col-start-3 "
  >
    <Asterisk class="text-primary" slot="icon" />
  </Skillcard>
</div>
