---
// import { ClientRouter } from "astro:transitions"; --> NO LOGRO HACER QUE FUNCIONE CON BIEN EL TOGLE Y SLIDER POR CULPA DE MANIPULACION DEL DOOM DE VIEW TRANSITION :C
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Analytics from "@vercel/analytics/astro";
import "@styles/global.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <title>{title}</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta
      name="description"
      content="Portafolio personal de Hugo Rosales Meléndez. Descubre mis proyectos, habilidades y experiencias profesionales."
    />

    <meta property="og:url" content="https://www.romz.site" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Hugo Rosales Meléndez - Portafolio Personal"
    />
    <meta
      property="og:description"
      content="Explora mi trabajo, proyectos y habilidades profesionales en este portafolio personal."
    />
    <meta property="og:image" content="https://www.romz.site/og-image.png" />
    <meta property="og:locale" content="en-EN" />
    <meta property="og:site_name" content="Hugo Rosales Meléndez" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Hugo Rosales Meléndez - Portafolio Personal"
    />
    <meta
      name="twitter:description"
      content="Portafolio personal de Hugo Rosales Meléndez. Descubre mis proyectos y habilidades."
    />
  </head>
  <body>
    <Analytics />
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
  }
</style>
